@using liber.Models
@model Eventos
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Calendario</title>
    <link rel="stylesheet" type="text/css" href="calendario.css" media="all" />
    <script type="text/javascript" src="calendario.js"></script>
</head>
<body>
    <div id="Eventos">
        @{foreach (Eventos evento in (ViewBag.lista))
            {

                <h5>@evento.titulo</h5>
                <a class="imagenes" href="@Url.Action("VerEvento", "Usuario", new { idevento = evento.idevento })">
                    <img src="@Url.Content("~/Content/Admintemp/evento/")@evento.imagen" height="200" width="150" />
                </a>

            <button>
                @Html.ActionLink("Detalles", "VerEvento", "Usuario", new { idevento = evento.idevento}, null)
            </button>
            } }

</div>

</body>
</html>