@using liber.Models
@model Usuarios
@{
    ViewBag.Title = "Model";
    Layout = "~/Views/Shared/_mytemplatepagprincipal.cshtml";
}
<HEAD>

    <style>
        body {
            background: #fdcc52;
            position: relative;
            background-position: center;
        }
        .Etiqueta {
        text-align:center;
        }
    </style>
</HEAD>





<body>
    <form action=@Url.Action("Model","Home") method="post">
        <div>

            <header class="masthead">

                <h3 class="Etiqueta">Iniciar sesión</h3>
             
            </header>
            <div class="EtiquetasValidaciones">
                <label class="etiquetas">Usuario</label>@Html.ValidationMessageFor(x => x.user, null, new { @class = "validaciones" })
            </div>
            @Html.TextBoxFor(x => x.user, new { @class = "texto", placeholder = "Ingrese usuario" })



            <div class="EtiquetasValidaciones">
                <label class="etiquetas">Confirmación de la contraseña</label>@Html.ValidationMessageFor(x => x.confirmaciondecontraseña, null, new { @class = "validaciones" })
            </div>
            @Html.TextBoxFor(x => x.contraseña, new { @class = "texto", placeholder = "Ingrese contraseña", type = "password" })
            </div>
        <button type="submit" onclick="onsave()">Iniciar Sesión</button>
</form>
</body>