/* Layout for search container */
.search {
	position: relative;
	text-align: center;
}

.js .search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.js .search::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(0,0,0,0.3);
}

.search__inner {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	background: #f0f0f0;
}

.search__inner--up {
	color: #dce6e6;
	background: #2d3535;
}

.search__inner--down {
	top: 50%;
	color: #dce6e6;
	background: #22d2d2;
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	z-index: 100;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.search__form {
	
	max-width: 900px;
    width: 100%;
    margin-top: 5%;
    background-color:#015249;

}

.search__input {
	font-family: inherit;
	font-size: 4vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 0 0.1em 0;
	color: inherit;
	border-bottom: 4px solid;
}

.search__input::-webkit-input-placeholder {
	opacity: 0.1;
	/* WebKit, Blink, Edge */
	
}

.search__input::-moz-placeholder {
	opacity: 0.1;
	/* Mozilla Firefox 19+ */
	color: #fff;
}

.search__input:-ms-input-placeholder {
	opacity: 0.1;
	/* Internet Explorer 10-11 */
	color: #fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}


#LibrosSugeridos {
    display:inline;
    width: 50%;
    height: 50%;
    /*margin-left: 15%;*/
}
#AutoresSugeridos {
    display:inline;
}


#Contenedor {
display:inline;
}



