
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import "compass/css3";

@font-face {
    font-family: 'fonthome';
    src: url('../fonthome.otf') format('opentype');
}
body {
  font-family: 'Roboto', sans-serif;

  position: relative;

}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}


/*************************
*******Header CSS******
**************************/


/*Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	z-index:40;
	position:relative;
	max-width:1000px;
    width:100%;
}

 .Menu {
    margin-right: 11%;
    margin: 0 auto;
    font-family:fonthome;
    font-size:35px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.header_top {
    background-color:#565656;
    width: 100%;
    height: 90px;
}

#Eventos {
color:#e24e42;
}
#Trivias {
color:#e98000;
}
#Explorar {
color:#eb6e80;
}
#Micuenta {
color:#008f95;
}

#Menu {
margin-left: 15%;
display: inline-flex;
}

.ImagenSlide {
height:400px;
width:100%;
}

.carousel slide {
width:100%;
}

#Search {
    
    height: 60px;
}

/*.search_box 
     {
  background: #F0F0E9;
  border: medium none;
  color: #B2B2B2;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 130px;
}

*/
/**/
.ImagenSlide {
    height: 400px;
    width: 160%;
    /* margin: 0 auto; */
    margin-left: -5%;
}

/****************************SECCION LIBROS**************************************/
#libros {
    height: 290px;
}

/***********************************DETALLESLIBRO.VIEW*****************************************************/
#Contenedor {
display:flex;
}
       #imagen {
    width: 250px;
    margin-left: 10%;
    height: 350px;}
        #Detalles {
           float: right;
         margin-top: -5%; 
         margin-left:30%;
         
                }
        #h2 {
        text-align:center;
        }
.botones {
background-color:#565656;
color:white;
 width: 165px;
    height: 45px;

}
#Portada {
margin-left:5%;
}
#Grupo {
display:flex;
}

/*******************************RATING STARS*************************************/

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }
.Redes {
width:100px;
height:100px;
}
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}
 

.rating >.notfull {
     color: #FFD700;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



