
@{
    ViewBag.Title = "DetallesLibro";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>TITULO DEL LIBRO</h2>

<div id="Contenedor">
    <div id="Portada">

    </div>

    <div id="Detalles">

    </div>

</div>
