@using liber.Models
@model Libros
@{
    ViewBag.Title = "ListadoLibroNoEncontrado";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <style>  
     .contenido{
        display:flex;
    }
        img {
    border: 0;
    width: 145px;
    height: 235px;
    margin-left: 10%;
        }

        .Titulo {
        font-family:'Bell MT';
        font-size:30px;
        text-align:center;
        }
        #Genero1{
            border-bottom: 3px solid #afafaf;
        }
    </style>
 
</head>

    @* Genero 1 *@
   
       <div id="Genero1">

           <div class="Titulo">
               <a>@Html.ActionLink("Género", "Vermas", "Libro", new { vermas = "Genero1" }, null)</a></th>
           </div>


                   <div class="contenido">
                        @{foreach (Libros libro in (ViewBag.genero1))
                            {


                                
                                <img src="~/Content/Usuariotemp/images/libros/@libro.imagen" height="100" width="75" />

                                                <!--lo que ve el usuario/view/controller/parametro-->




                                }
                            }

            </div>
</div>

  

    @* Mejor puntuado *@
    <div id="Mejor">

            <div class="Titulo">
                <a>@Html.ActionLink("Mejor puntuado", "Vermas", "Libro", new { vermas = "Mejor" }, null)</a>
            </div>
          

        <div class="Contenido">
            @{foreach (Libros libro in (ViewBag.mejor))
                {
                    <img src="~/Content/Usuariotemp/images/libros/@libro.imagen" height="100" width="75" />

                            <!--lo que ve el usuario/view/controller/parametro-->
                }


            }
        </div>

          </div>
    @* Genero 2*@
    <div id="Genero2">
        <div class="Titulo">
            <a>@Html.ActionLink("Género2", "Vermas", "Libro", new { vermas = "Genero2" }, null)</a>
        </div>
         

        <div class="Contenido">
            @{foreach (Libros libro in (ViewBag.genero2))
                {
                    <img src="~/Content/Usuariotemp/images/libros/@libro.imagen" height="100" width="75" />


                }


            }
        </div>




</div>

